
/* stops scrolling, maxes body */
html, body {margin: 0; height: 100%; overflow: hidden}

html {
    background-image: url("../img/trees.jpg");
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
}

:root {
    --primary-bg-color: rgba(255, 255, 255, 0.336);
    --secondary-bg-color: rgba(0, 0, 0, 0.548);
}


.swipeIn {

    /* Position Types */
    display: flex;
    position: relative;

    /* Dimentions */
    width: 90vw;
    height: 30vh;
    top: 130vh;
    left: 5vw;

    /* Slide in */
    transition-property: top;
    transition-duration: 1s;

    background-color: var(--secondary-bg-color);
    
}

.doSwipe {

    top: 45vh;

}

.myButton {

    position: absolute;

    /* text */
    display: flex;
    justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */
    font-family:Arial;
    font-size:20px;
    color: white;

    /* Border */
    background-color: var(--primary-bg-color);
    
    /* Size */
    width: 91%;
    left: 4%;
    height: 20%;
    
    /* Slide in */
    transition-property: background-color;
    transition-duration: 0.25s;
}

input {

    position: absolute;

    background-color: transparent;
    border-style: none;

    color: white;
    left: 20%;

    width: 80%;
    height: 100%;

}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
}

.icon {

    position: absolute;
    left: 0px;
    top: 0%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.315);


}

.logo {

    position: relative;
    opacity: 0;

    transition: opacity 1s ease-in;
}

.logoHead {

    position: absolute;
    width: 100vw;
    height: 30vh;
    top: 5vh;

}

.fade {

    
    opacity: 1;

}